$blue-color: rgb(56, 119, 238);
$iris-color: rgba(93, 95, 239, 1);
$fuscia-color: rgba(239, 93, 168, 1);
$gray-color: hsla(219, 30%, 37%, 10%);
$black-color: rgba(66, 86, 122, 1);
$lightning-blue: rgba(66, 86, 122, 0.5);
$disabled-color: rgba(66, 86, 122, 0.2);
$block-gray: rgba(48, 62, 88, 0.5);
$white-color: rgb(255, 255, 255);
$shadow-color: rgba(56, 119, 238, 0.1);
$background-color: rgba(244, 245, 249, 1);
$dot-container-color:rgb(198, 194, 194);