@import '../../styles/colors.scss';

.Main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 100vh;
  // max-height: 1080px;
  width: 100%;
  // max-width: 1440px;
  margin: 0 auto;

  @media (max-width: 1240px) {
    width: 100%;
    // max-width: 1000px;
    justify-content: center;
    margin: 0;
  }

  @media (max-width: 780px) {
    max-width: 750px;
    justify-content: center;
    margin: 0;
  }

  @media (max-width: 580px) {
    max-width: 470px;
  }

  @media (max-width: 480px) {
    max-width: 360px;
  }

  @media (max-width: 380px) {
    max-width: 320px;
  }
}

.Main-vertical {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: $black-color;
  left: 50%;
  top: 0;
  opacity: 0.2;


  @media (max-width: 1024px) {
    display: none;
  }
}

.Main-gorizontal {
  position: absolute;
  left: 0;
  top: 45.5%;
  height: 1px;
  width: 100%;
  background-color: $black-color;
  opacity: 0.2;

  @media (max-width: 1024px) {
    opacity: 0;
  }

  @media (max-width: 480px) {
    opacity: 0.2;
    left: 50%;
    top: 51.5%;
    width: 89%;
    transform: translate(-50%, -50%);
  }
}

.Main-mainline {
  position: absolute;
  left: 0px;
  top: 17%;
  top: -8%;
  width: 5px;
  height: 120px;
  background: -webkit-linear-gradient(0deg, $fuscia-color 20%, $blue-color 87%);
  background: -moz-linear-gradient(0deg, $fuscia-color 20%, $blue-color 87%);
  background: linear-gradient(0deg, $fuscia-color 20%, $blue-color 87%);


  @media (max-width: 1440px) {
    top: 8%;
  }

  @media (max-width: 1024px) {
    top: 8%;
  }

  @media (max-width: 760px) {
    display: none;
  }
}

.Main-title {
  font-family: --font-family, sans-serif;
  font-weight: 700;
  position: absolute;
  max-width: 475px;
  color: $black-color;
  font-size: 56px;
  font-style: normal;
  line-height: 120%;
  left: 78px;
  top: 16.8%;
  top: -10%;
  margin: 0;

  @media (max-width: 1440px) {
    font-size: 48px;
    max-width: 400px;
    top: 8%;
  }

  @media (max-width: 1024px) {
    left: 20px;
    width: 123px;
    line-height: 100%;
    height: 48px;
  }

  @media (max-width: 760px) {
    left: 9px;
    top: 12%;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
  }

  @media (max-width: 480px) {
    font-size: 28px;
  }

  @media (max-width: 380px) {
    font-size: 20px;
    line-height: 120%;
  }
}