.SliderControllers {
  position: absolute;
  padding-left: 3px;
  top: 0;
  // bottom: 0;
  z-index: 1000;

  @media (max-width: 1024px) {
    left: 0px;
    top: auto;
    bottom: 0px;
  }

}

.SliderControllers svg:hover {
  transition: background-color 0.3s ease-in-out;
  background-color: #fff;
}

.SliderControllers-count {
  padding-bottom: 20px;
  text-align: left;
  font-size: 14px;

  @media (max-width: 480px) {
    padding-bottom: 10px;
  }
}